<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SCOUP</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container m-5">
        <div class="pt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="../img/Modo-de-vida-cangrejo-azul.jpg" style="margin: 0; padding: 0; width: 30%; height: 13rem;" alt="">
                </div>
                <div class="col-3"></div>
                <div class="input-group mb-3 col-6  pt-5">
                    <input class="form-control" type="text" placeholder="Codigo del operario">
                    <div class="input-group-append">
                        <button class="btn btn-info">Buscar</button>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>

    <div class="container align-items-center">
        <div class="row">
            <div class="col-4 text-center">
                <!-- Bootstrap Card-->
                <div class="card" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h4 class="pt-1 cad-title">RS/Claw</h4>
                        <div class="row pt-4">
                            <div class="col-12 temp-count"><p class="h2">0</p></div>
                            <div class="col-12 mt-1 pers-count"><p class="h2">1</p></div>
                            <div class="col-12 mt-1 total-count"><p class="h2">2</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
               <!-- Bootstrap Card-->
               <div class="card" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <h4 class="pt-1 cad-title">R/Claw</h4>
                    <div class="row pt-4">
                        <div class="col-12 temp-count"><p class="h2">0</p></div>
                        <div class="col-12 mt-1 pers-count"><p class="h2">1</p></div>
                        <div class="col-12 mt-1 total-count"><p class="h2">2</p></div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-4 text-center">
                <!-- Bootstrap Card-->
                <div class="card" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h4 class="pt-1 cad-title">RS/Lump</h4>
                        <div class="row pt-4">
                            <div class="col-12 temp-count"><p class="h2">0</p></div>
                            <div class="col-12 mt-1 pers-count"><p class="h2">1</p></div>
                            <div class="col-12 mt-1 total-count"><p class="h2">2</p></div>
                        </div>
                    </div>
                </div>
            </div>
<!--
            <div class="col-3 text-center">
                <!-- Bootstrap Card
                <div class="card" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h5 class="pt-3 cad-title">R/Lump</h5>
                        <p class="pt-3 pb-3 card-text">
                            Satisfacción garantizada
                        </p>
                        <a href="#" class="">Read...</a>
                    </div>
                </div>
            </div>
        -->
        </div>
    </div>
       

    <script src="../jquery-3.1.0.js"></script>
    <script src="../popper.js"></script>
    <script src="../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>
</html>